html{
	margin: 0;
	padding: 0;
	background: url("../img/background.jpg") no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}
.login{
	width: 410px;
	height: 630px;
	background: #000;
	color: #FFF;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.login h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 23px;
	transform: translateY(-100%);
}
.login label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}
.login input {
	width: 100%;
	margin-bottom: 20px;
}
.login input[type="text"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #FFF;
	font-size: 16px;
}
.login input[type="email"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #FFF;
	font-size: 16px;
}
.login input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #FFF;
	font-size: 16px;
}
.login select {
	background-color: #efefef;
	margin-bottom: 10px;
	display: block;
	border: none;
	height: 33px;
	width: 100%;
	font-size: 16px;
}
.login input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #28cfff;
	color: #FFF;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
}
.login a{
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	color: darkgray;
	width: 30%;
	margin-left: 35%;
}
.login a:hover {
	color: #fff;
	cursor: pointer;
}
.inisio {
	width: 410px;
	height: 400px;
	background: #000;
	color: #FFF;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.inisio h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 23px;
	transform: translateY(-100%);
}
.inisio label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}
.inisio input {
	width: 100%;
	margin-bottom: 20px;
}
.inisio input[type="email"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #FFF;
	font-size: 16px;
}
.inisio input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #FFF;
	font-size: 16px;
}
.inisio input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #28cfff;
	color: #FFF;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
}
.inisio a{
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	color: darkgray;
	width: 1%;
	margin-left: 41%;
}
.inisio a:hover {
	color: #fff;
	cursor: pointer;
}
.producto1{
	width: 300px;
	height: 400px;
	background: #6faacc;
	color: #FFF;
	top: 45%;
	left: 15%;
	position: absolute;
	transform: translate(-75%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	margin-left: 10px;
}
.producto1 img {
	width: 100%;
	height: 75%;
	transform: translate(0%,-13%);
}
.producto1 label {
	font-size: 17px;
	display: block;
	margin-bottom: 1%;
}
.producto2{
	width: 300px;
	height: 400px;
	background: #6faacc;
	color: #FFF;
	top: 45%;
	left: 40%;
	position: absolute;
	transform: translate(-75%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	margin-left: 10px;
}
.producto2 img {
	width: 100%;
	height: 75%;
	transform: translate(0%,-13%);
}
.producto2 label {
	font-size: 17px;
	display: block;
	margin-bottom: 1%;
}
.producto3{
	width: 300px;
	height: 400px;
	background: #6faacc;
	color: #FFF;
	top: 45%;
	left: 65%;
	position: absolute;
	transform: translate(-75%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	margin-left: 10px;
}
.producto3 img {
	width: 100%;
	height: 75%;
	transform: translate(0%,-13%);
}
.producto3 label {
	font-size: 17px;
	display: block;
	margin-bottom: 1%;
}
.producto4{
	width: 300px;
	height: 400px;
	background: #6faacc;
	color: #FFF;
	top: 45%;
	left: 90%;
	position: absolute;
	transform: translate(-75%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	margin-left: 10px;
}
.producto4 img {
	width: 100%;
	height: 75%;
	transform: translate(0%,-13%);
}
.producto4 label {
	font-size: 17px;
	display: block;
	margin-bottom: 1%;
}
.barra {
	background: #6f99aa;
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
}
.barra button{
	background-color: : #6faacc;
	border: none;
	height: 40px;
	margin-left: 93%;
	transform: translate(0%,25%);
}
.barra a{
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
}

.imagenproducto {
	width: 47%;
	height: 60%;
	top: 20%;
	left: 1%;
	position: absolute;
	margin-left: 2%;
}
.imagenproducto img{
	width: 100%;
	height: 100%;
}
.descripcion {
	width: 42%;
	height: 67%;
	background: #6faacc;
	color: #FFF;
	top: 20%;
	left: 50%;
	position: absolute;
	padding: 20px 30px;
	margin-left: 20px;
}
.descripcion p {
	width: 95%;
	font-size: 16px;
}
.descripcion input {
	display: block;
	width: 40%;
	border: none;
	outline: none;
	height: 40px;
	background: #28cfff;
	color: #FFF;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
}
.descripcion a{
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: #000;
	width: 1%;
	margin-left: 1%;
}
.descripcion a:hover {
	color: #fff;
	cursor: pointer;
}